.git
node_modules
*/node_modules
nbproject
#ssl/*
.DS_Store
.*.swn
.*.swo
.*.swp
.dotcloud
.dump
.log
.rbd
tmp
*.pyc
*.lock
__init__.pyc
www/dump.rdb
dump.rdb
*.mp4
classifier/training-tmp
dump
bower_components
*.log
